*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 100px;
}
.submit-area {
           border-radius: 10px;
            margin-top: 30px;
            box-shadow: grey 2px 1px 15px;
            padding: 20px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: orange;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: rgb(28, 28, 214);
}
.status{
    margin:0 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;

}
.status2 {
    margin-top: 40px;
    padding: 25px;
    box-shadow: 3px 4px 9px grey;
    border-radius: 5px;
}